.Principal {
  width: 100%;
  background: #ebeeef;
  min-height: calc(100vh - 0px);
}

.Principal__col {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-container {
  padding-top: 5%;
}
